* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #333;
}

/* Navigation Bar */
nav {
    background-color: rgba(51, 51, 51, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 30px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #3a598f;
}

.menu-icon {
    display: none;
    font-size: 2em;
    color: white;
}

/* Non-collapsed (default) menu for larger screens */
@media (min-width: 769px) {
    nav ul {
        display: flex;
    }

    .nav-links.active {
        display: flex;
    }
}

/* Collapsed menu for smaller screens (768px and below) */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(51, 51, 51, 0.9);
        position: absolute;
        top: 60px;
        right: 0;
        text-align: right;
        margin-right: 0;
        padding: 10px 0;
    }

    nav ul.active {
        display: block;
    }

    nav ul li {
        margin: 10px 20px;
    }

    .menu-icon {
        display: block;
        margin-right: 20px;
        cursor: pointer;
    }
}

header, section {
    padding-top: 60px;
}

header.hero {
    background-image: url("./header-photo.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
}

.header-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 32px;
    border-radius: 8px;
    width: 80%;
    height: 40vh;
    margin: 40px;
    z-index: 2;
}

h1 {
    font-size: 2.5em;
    margin-top: 4px;
    margin-bottom: 4px;
}

#header-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.6em;
    }
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.book-btn {
    display: inline-block;
    background-color: #2596be;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.book-btn:hover {
    background-color: #3a598f;
}

/* About Section */
section.about {
    padding: 50px;
    text-align: center;
}

/* Flexbox container to position the image and text side by side */
.about-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.profile-picture {
    width: 400px;
    height: 280px;
    margin-right: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-text {
    flex: 1;
    margin-top: 20px;
}

.about-text h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1.2em;
}

/* Why Section */
section.why {
    padding: 50px;
    text-align: center;
}

/* Flexbox container to position the image and text side by side */
.why-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    text-align: right;
}

.why-picture {
    width: 400px;
    height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.why-text {
    flex: 1;
    margin-top: 20px;
    margin-right: 48px;
}

.why-text h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.why-text p {
    font-size: 1.2em;
}

/* Media Queries for Mobile View */
@media (max-width: 768px) {
    .about-container, .why-container {
        flex-direction: column; /* Stack the image and text */
        align-items: center;
        text-align: center;
    }

    .profile-picture, .why-picture {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .why-picture {
        order: -1; /* Ensure the image comes before the text in mobile view */
    }

    .why-text {
        margin-right: 0;
    }
}

section.lessons {
    margin-top: 50px;
    padding: 50px;
    text-align: center;
    min-height: 80vh;
}

section.lessons p {
    font-size: 1.2em;
}

section.reviews {
    padding: 50px;
    text-align: center;
}

/* Flexbox container to position the image and text side by side */
.reviews-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer .find-me {
    margin-top: 10px;
}

footer .find-me p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer .find-me .social-link {
    color: white;
    margin: 0 10px;
    font-size: 2em;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .find-me .social-link:hover {
    color: #3a598f;
}